<div class="row mt-3">
  <section>
    <div class="container d-flex align-items-center justify-content-between">
      <h2>Factura</h2>
      <div class="col-2">
        <p>fecha:18/09/2023</p>
        <p>Factura : #100</p>
        <p>Vence : 21/09/2023</p>
      </div>
    </div>

    <div class="col d-flex align-items-center justify-content-between">
      <div class="container">
        <p><strong>Facturar a</strong></p>
        <p>Cliente : {{detalles.cliente}}</p>
        <p>Empresa : {{detalles.empresa}}</p>
        <p>Direccion : {{detalles.direccion}}</p>
        <p>Telefono : {{detalles.telefono}}</p>
      </div>
      <div class="container">
        <p><strong>Enviar a</strong></p>
        <p>Cliente : {{detalles.cliente}}</p>
        <p>Empresa : {{detalles.empresa}}</p>
        <p>Direccion : {{detalles.direccion}}</p>
        <p>Telefono : {{detalles.telefono}}</p>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col tabla d-flex align-items-center justify-content-around">
          <div class="item">
            <p><strong>Vendedor</strong></p>
            <span>Eduardo</span>
          </div>
          <div>
            <p><strong>Orden</strong></p>
            <span>#PO-2020</span>
          </div>
          <div>
            <p><strong>Enviar Por</strong></p>
            <span>DHL</span>
          </div>
          <div>
            <p><strong>Términos y condiciones</strong></p>
            <span>Pago al contado</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
