<div class="row linea">
  <div class="col">
    <img
      src="https://marketplace.canva.com/EAFAELFfY8o/1/0/1600w/canva-azul-y-violeta-informal-corporativo-desarrollo-de-aplicaci%C3%B3n-emprendimiento-empresa-logo-Olgzs4zIQXk.jpg"
      alt="logo"
    />
  </div>

  <div class="col">
    <p class="fs-5">Sistema web S.A. de C.V.</p>
    <p>234/90 , New York</p>
    <p>United States</p>
  </div>

  <div class="col">
    <p>Web : www.sistemas.la</p>
    <p>E-mail: info@obedalvarado.pw</p>
    <p>Tel: +456-345-908-559</p>
    <p>Twitter:@alvarado_obed</p>
  </div>

  <div class="col">
    <p>Datos Bancarios:</p>
    <p>Titular de la cuenta:</p>
    <p>IBAN:</p>
    <p>BIC:</p>
  </div>

</div>

